.profile{
    box-shadow: #000000 2px 2px 4px;
    
        margin-top: 50px;
            margin-left: auto;
            margin-right: auto;
            text-align: center;
            width: 30%;
    
}
.description{
display: flex;
flex-direction: column;
    align-items: center;
    margin-top: 50px;
}
.avatar{
    width: 150px;
        height: 150px;
        border-radius: 50%;
        margin-bottom: 10px;
        background-color: green;
}
.stats{
    display: flex;
    justify-content: space-evenly;
    background-color: grey;
    padding: 0;
}
.rating{
        display: flex;
            flex-direction: column;
            align-items: center;
            padding-bottom: 20px;
}

.username {
    margin-bottom: 0;
    font-weight: bold;
    font-size: x-large;
}

.tag {
    margin-top: 0;
    color: grey;
    font-style: italic;
}

.location {
    font-weight: bold;
    font-size: large;
    color: grey;
}